.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    background-color: #ff8933;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
}

.backButton {
    background-color: white;
    color: #ff8933;
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.backButton:hover {
    background-color: #e57a2d;
    color: white;
}

.logoutButton {
    background-color: white;
    color: #ff8933;
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logoutButton:hover {
    background-color: #e57a2d;
    color: white;
}