.mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.content {
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    position: relative;
}

.buttonContainer {
    position: absolute;
    top: 20px;
    right: 0;
    margin-bottom: 20px;
    z-index: 1;
}

.dashboard {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

.projectList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.projectItem {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.projectItem:hover {
    background-color: #e0e0e0;
}